<header class="generic-header">
    <h1>Moon Stock</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/user">Account</a></li>
        </ul>
    </nav>
</header>